# Database Configuration
DB_USERNAME=pgadmin
DB_PASSWORD=pgadminpass
DB_HOST=localhost
DB_PORT=5432
DB_NAME=orderDb

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Application Configuration
SERVER_PORT=9090
